<html>
<head>
    <title>Codenames</title>
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <p>
            <label>Sets</label><br/>
            <select id="sets"></select>
        </p>
        <p>
            <label>Words</label>
            <br/>
            <textarea id="words" rows="12"></textarea>
        </p>
        <p>
            <label>Actions:</label>
            <br/>
            <button id="btnRandomWords">Shuffle words</button>
            <br/>
            <button id="btnRandomAnswers">Shuffle answers</button>
            <br/>
            <button id="btnShowAnswers">Toggle answers</button>
        </p>
    </div>
    <div id="grid" class="grid">
    </div>
</div>
</body>
</html>
